<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FireBuddy</title>
    <link rel="stylesheet" href="../css/firedata.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    <script type="text/javascript" src="firedata.js"></script>
    <script src="scripts/script.js" defer></script>
  </head>
  <body>
    <div class="main"></div>
    <div id="content">
        <div id="navBar">
            <div class="page" id="home">
                <a href="/">Home</a>
            </div>
            <div class="page" id="info">
                <a href="/fireball/info">Info</a>
            </div>
            <div class="page" id="firedata">
                <a href="/fireball/firedata">FireData</a>
            </div>
            <div class="page" id="predictions">
                <a href="/fireball/predictions">Predictions</a>
            </div>
        </div>

        <div id="firedataContent">

            <div id="spacer"></div>

            <h4>FireTable</h4>

            <div id="filters">
                <div id="topHalf">
                    <button class="buttonLabel" id="locationButton">Location: N/A</button>
                    <button class="buttonLabel" id="startButton">Start Date: N/A</button>
                    <button class="buttonLabel" id="endButton">End Date: N/A</button>
                    <button class="buttonLabel" id="velMinButton">Velocity Min: N/A</button>
                    <button class="buttonLabel" id="velMaxButton">Velocity Max: N/A</button>
                    <button class="buttonLabel" id="energyMinButton">Energy Min: N/A</button>
                    <button class="buttonLabel" id="energyMaxButton">Energy Max: N/A</button>
                </div>
                <div id="bottomHalf">
                    <div id="inputField">
                    </div>
                    <div id="filterButtons">
                        <button id="questionMark">?</button>
                        <button id="clearFilters">Clear Filters</button>
                        <button id="filterButton">Filter</button>  
                    </div>
                </div>
            </div>

            <div id="infoDiv">
                <p>
                    <h2>General Information</h2>
                    Welcome to the FireData page which provides an out of this world table (initially showing the 5 most recent fireballs recorded) 
                    with stellar filters, and a neat frequency graph that shows the number of fireballs per year over the last 5 years!
                    Please note, some of the values in the table will display as "null". This means there is no recorded data from NASA for that specific field for that
                    specific fireball. 
                </p>
                <p>
                    <h2>Filter Information</h2>
                    To use the filters, simply click one of the filter buttons above ("location", "start date", "end date", "velocity min", "velocity max", 
                    "energy min", and "energy max"). Once a filter is clicked, an input field will display. From there, simply enter or select your choice and 
                    click out of the input. Once done, you'll notice your desired filter is saved. If you are satisfied with your filters, click the "filter" button. 
                    Upon doing so, the below table will populate with your filters applied. You can also clear all filters and set to the original table by 
                    clicking the "clear filters" button. To close this information section, simply click the question mark button again.
                </p>
                <p>
                    <h2>FireGraph</h2>
                    Relatively intuitive, the FireGraph initially displays the amount of fireballs over the last 6 years. However, it can be modified with filters.
                    You can update the graph by year to view the # of fireballs per month for that year, or you can set a start and end year to view the frequency of
                    fireballs for your selected year span.
                </p>
                <p id="closeInfo">
                    To close this information section, simply click the question mark button again.
                </p>
            </div>

            <table id="fireballTable">
                <thead>
                    <tr>
                        <th>Date & Time (UT)</th>
                        <th>&nbsp &nbsp &nbsp Energy &nbsp &nbsp &nbsp (J * 10<sup>10</sup>)</th>
                        <th>Impact Energy (kt)</th>
                        <th>Latitude</th>
                        <th>Latitude Direction</th>
                        <th>Longitude</th>
                        <th>Longitude Direction</th>
                        <th>Altitude (km)</th>
                        <th>Velocity (km/s)</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="firedataContent"> 
                <h4>FireGraph</h4>
                <div id="chartWrapper">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <!--text input year and button to update graph with year-->
                <p>Update By Year (1988-2022)</p>
                <input class="graph" type="number" id="year" min="1988" max="2022" placeholder="Enter year">
                <button class="gButton" id="update">Update</button>
                <!--update graph with year span-->
                <p>Update By Year Span</p>
                <input class="graph" type="number" id="startYear" placeholder="Start Year" min="1988" max="2022">
                <input class="graph" type="number" id="endYear" placeholder="End Year" min="1988" max="2022">
                <button class="gButton" id="updateSpan">Update</button>
    
                <div id="data_interpretation">
                    <p id="interpret"></p>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footerContent" id="fireballImg1">
                <img src="../images/fBall.png" alt="Fireball Footer">
            </div>
            <div class="footerContent" id="footerText">
                <p>FireBuddy | Team FireBall @2022</p>
            </div>
            <div class="footerContent" id="fireballImg2">
                <img src="../images/fBall.png" alt="Fireball Footer">
            </div>
        </footer>
    </div>

    <div id="spacerBottom"></div>
  </body>
</html>