<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FireBuddy</title>
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <div class="main"></div>
    <div id="content">
        <div id="navBar">
            <div class="page" id="home">
                <a href="/">Home</a>
            </div>
            <div class="page" id="info">
                <a href="/fireball/info">Info</a>
            </div>
            <div class="page" id="firedata">
                <a href="/fireball/firedata">FireData</a>
            </div>
            <div class="page" id="predictions">
                <a href="/fireball/predictions">Predictions</a>
            </div>
        </div>

        <div id="homeContent">
            <canvas id="canvas">No WebGL???</canvas>
            <script type="module" src="../res/renderer.js"></script>
        </div>
    </div>
  </body>
</html>